body,
* {
    margin: 0;
    padding: 0;
}

/* header section start */
.header {
    background: url('../images/Banner\ Image.png');
    background-position:center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
    position: relative;
    margin: 0px 140px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .header-title{
    background: linear-gradient(180deg, #070211bb 0%, rgba(7, 2, 17, 0.00) 100%);
    border-radius: 16px;
    position: absolute;
    width: 100%;
    height: 73vh;
}
.header .header-title{
    color: #FFF;
}
.header .header-title p{
    padding-top: 120px;
    font-size: 32px;
    font-family: 'Merriweather', serif;
    font-weight: 900;
    line-height: 95px;
    line-height: normal;
    letter-spacing: 1.2px;
}

.header .header-title h1{
    padding-top: 16px;
    font-size: 72px;
    font-family: 'Merriweather', serif;
    font-weight: 400px;
    line-height: normal;
    letter-spacing: 2px;
}

/* header section end */