body,
* {
    margin: 0;
    padding: 0;
}

main {
    margin-left: 140px;
    margin-right: 140px;
}

/* header section start */
.header {
    background: url('../images/Banner\ Image.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
    position: relative;
    margin: 0px 140px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .header-title {
    background: linear-gradient(180deg, #070211bb 0%, rgba(7, 2, 17, 0.00) 100%);
    border-radius: 16px;
    position: absolute;
    width: 100%;
    height: 72vh;
}

.header .header-title {
    color: #FFF;
}

.header .header-title p {
    padding-top: 120px;
    font-size: 32px;
    font-family: 'Merriweather', serif;
    font-weight: 900;
    line-height: 95px;
    line-height: normal;
    letter-spacing: 1.2px;
}

.header .header-title h1 {
    padding-top: 16px;
    font-size: 72px;
    font-family: 'Merriweather', serif;
    font-weight: 400px;
    line-height: normal;
    letter-spacing: 2px;
}

/* header section end */

/* offer-section start */
.section-gap {
    margin-top: 100px;
}

.section-gap .offer-detail {
    text-align: center;
}

.section-gap .offer-detail p {
    color: #F00;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 48px;
    font-family: 'Inter', sans-serif;
}


.section-gap .offer-detail span {
    color: #F00;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-family: 'Inter', sans-serif;
}

.section-gap .offer-detail h3 {
    color: #070211;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 20px 48px;
    font-family: 'Inter', sans-serif;
}

/* offer-section end */


/* party section start */
.party {
    background: url('../images/Vectorrr.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
}

.party .party-title {
    color: #FFFFFF;
    padding-left: 140px;
}

.party .party-title h2 {
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    letter-spacing: 7.04px;
    font-family: 'Merriweather', serif;
}

.party .party-title p {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    padding-top: 24px;
    padding-bottom: 30px;
    line-height: 30px;
}


.party .party-title .join-btn {
    background: none;
    border: none;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #FFFFFF;
    padding-left: 20px;
}

/* party section end */


/* party information section start */
.party-information {
    text-align: center;
}

.party-information .party-detail {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.party-info {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    ;
    padding: 100px 255px 126px 255px;
}


.party-information .party-detail span,
p {
    padding-bottom: 10px;
}

.party-information .party-detail p {
    color: #070211;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
}

.party-information .party-detail span {
    font-family: 'Inter', sans-serif;
    color: #F00;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.party-information .join-party {
    margin-top: 40px;
    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    border-radius: 8px;
    background: #F00;
    border: none;
    padding: 16px 32px;
    text-align: center;
}

/* party information section end */


/* comming offer sections start */
.comming-offer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.comming-offer .coming-detail1 h4 {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 16px;
}

.comming-offer .coming-detail1 h2 {
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    padding-bottom: 22px;
}

.comming-offer .coming-detail1 p {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.comming-offer .coming-detail-img img {
    border-radius: 50%;
    border: 15px solid #F00;
    background: white;
    padding: 20px;
    width: 250px;
    margin-left: 20px;
}

.comming-offer .coming-detail2 h2 {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 16px;
}

.comming-offer .coming-detail2 p {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

/* comming offer sections end */


/* holiday section start */
.holiday-detail {
    text-align: center;
    margin-bottom: 60px;
}

.holiday-detail .holiday-title {
    color: #070211;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 16px;
}

.holiday-detail .holiday {
    color: #F00;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.holiday-detail .sale {
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.holiday-detail p {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    padding-top: 28px;
}

.holiday-images {
    display: flex;
    justify-content: center;
    align-items: center;
}

.holiday-images {
    background: url('../images/Rectangle\ 2.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}

/* holiday section end */


/* gallery section start */
.gallery-detail span {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.gallery-detail h2 {
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-weight: 900;
    padding: 16px 0px 22px 0px;
}


.gallery-detail p {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    padding-bottom: 48px;
}



.gallery-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;

}

.gallery-images .gallery-image {
    width: 100%;
    overflow: hidden;
}

.gallery-images .gallery-image img {
    width: 100%;
    transition: all .5s ease;
}

.gallery-images .gallery-image img:hover {
    transform: scale(1.3);
    cursor: pointer;
}

/* gallery section end */


/* newsletter section start */
.newletter {
    padding: 80px 212px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}

.newletter .newletter-detail {
    text-align: center;
}

/* newsletter section end */