body,
* {
    margin: 0;
    padding: 0;
}

main {
    margin-left: 140px;
    margin-right: 140px;
}

/* header section start */
.header {
    background-image: linear-gradient(180deg, #070211bb 0%, rgba(7, 2, 17, 0.00) 100%), url(../images/Banner\ Image.png);
    background-position: 60%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    margin: 30px 140px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
}


.header .header-title {
    color: #FFF;
}

.header .header-title p {
    font-size: 32px;
    font-family: 'Merriweather', serif;
    font-weight: 900;
    letter-spacing: 1.2px;
}

.header .header-title h1 {
    padding-top: 16px;
    font-size: 72px;
    font-family: 'Merriweather', serif;
    font-weight: 400px;
    line-height: normal;
    letter-spacing: 2px;
}

/* header section end */

/* offer-section start */
.section-gap {
    margin-top: 100px;
}

.section-gap .offer-detail {
    text-align: center;
}

.section-gap .offer-detail p {
    color: #F00;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 48px;
    font-family: 'Inter', sans-serif;
}


.section-gap .offer-detail span {
    color: #F00;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-family: 'Inter', sans-serif;
}

.section-gap .offer-detail h3 {
    color: #070211;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 20px 48px;
    font-family: 'Inter', sans-serif;
}

/* offer-section end */


/* party section start */
.party {
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../images/Vectorrr.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    display: flex;
    align-items: center;
    border-radius: 16px;
}

.party .first-party{
    display: flex;
    align-items: center;
}

.party .first-party .party-title {
    color: #FFFFFF;
    padding: 120px 20px 140px 100px;
    
}

.party .first-party .party-title h2 {
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    letter-spacing: 7.04px;
    font-family: 'Merriweather', serif;
}

.party .first-party .party-title p {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    padding-top: 24px;
    padding-bottom: 30px;
    line-height: 30px;
}


.party .first-party .party-title .join-btn {
    background: none;
    border: none;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #FFFFFF;
    padding-left: 20px;
}

/* party section end */


/* party information section start */
.party-information {
    text-align: center;
}

.party-information .party-detail {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.party-info {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    ;
    padding: 100px 255px 126px 255px;
}


.party-information .party-detail span,
p {
    padding-bottom: 10px;
}

.party-information .party-detail p {
    color: #070211;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
}

.party-information .party-detail span {
    font-family: 'Inter', sans-serif;
    color: #F00;
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.party-information .join-party {
    margin-top: 40px;
    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    border-radius: 8px;
    background: #F00;
    border: none;
    padding: 16px 32px;
    text-align: center;
}

/* party information section end */


/* comming offer sections start */
.comming-offer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.comming-offer .coming-detail1 h4 {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 16px;
}

.comming-offer .coming-detail1 h2 {
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    padding-bottom: 22px;
}

.comming-offer .coming-detail1 p {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.comming-offer .coming-detail-img img {
    border-radius: 50%;
    border: 15px solid #F00;
    background: white;
    padding: 20px;
    width: 250px;
    margin: 0 25px;
}

.comming-offer .coming-detail2 h2 {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 16px;
}

.comming-offer .coming-detail2 p {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

/* comming offer sections end */


/* holiday section start */
.holiday-detail {
    text-align: center;
    margin-bottom: 60px;
}

.holiday-detail .holiday-title {
    color: #070211;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 16px;
}

.holiday-detail .holiday {
    color: #F00;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.holiday-detail .sale {
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.holiday-detail p {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    padding-top: 28px;
}

.holiday-images .holiday-img{
    display: flex;
    align-items: center;
    justify-content: center;
}
.holiday-images .holiday-img .holiday-img2 img{
    width: 100%;
}

.holiday-images .holiday-img img{
    mix-blend-mode: darken;
}

.holiday-images .holiday-img1 img{
    width: 100%;
}
/* holiday section end */


/* gallery section start */
.gallery-detail span {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.gallery-detail h2 {
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-weight: 900;
    padding: 16px 0px 22px 0px;
}


.gallery-detail p {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    padding-bottom: 48px;
}



.gallery-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;

}

.gallery-images .gallery-image {
    width: 100%;
    overflow: hidden;
}

.gallery-images .gallery-image img {
    width: 100%;
    transition: all .5s ease;
}

.gallery-images .gallery-image img:hover {
    transform: scale(1.3);
    cursor: pointer;
}

/* gallery section end */


/* newsletter section start */
.newletter {
    padding: 80px 212px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}

.newletter .newletter-detail {
    text-align: center;
}

.newletter .newletter-detail h2 {
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-weight: 900;
    padding: 22px 0px 16px 0px;
}

.newletter .newletter-detail p {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.newletter .newletter-detail .subscribe {
    padding-top: 48px;
}


.newletter .newletter-detail .subscribe .email {
    padding: 25px 60px 25px 30px;
    border-radius: 50px 0px 0px 50px;
    background: #FFF;
    border: none;
    margin-right: 0;
}

.newletter .newletter-detail .subscribe .subscribe {
    padding: 25px 56px 25px 56px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    border: none;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    margin-left: 0;
}

/* newsletter section end */


/* footer section start */
footer {
    background: #070211;
}

.footer-information {
    padding-top: 120px;
    display: flex;
    justify-content: space-around;
    color: #FFF;
    align-items: center;
    padding-bottom: 50px;
}

.footer-information .location p {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}


.footer-information .communication .communication-way p {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin-left: 16px;
}

.footer-information .communication .communication-way {
    display: flex;
    align-items: center;
}

.horizontal {
    margin: 0 190px;
}

.smm-logo {
    padding: 48px 0px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.copywirte {
    display: flex;
    justify-content: space-around;
    color: #FFF;
    padding-top: 50px;
    padding-bottom: 120px;
}

.copywirte span {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.copywirte button{
    background: none;
    border: none;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
}
/* footer section end */